





.uheader-main{
    background: rgb(26, 26, 26);
    color: white;
    font-size: 15px;
    font-weight: bold;
    
    }
    .Ulogin-td{
        padding: 20px;
        cursor: pointer;
    }
    .Ulogin-td:hover{
        color: orange;
    }
    .uh-logo{
        font-size: 30px;
        font-weight: bolder;
        color: white;
        padding: 20px;
        cursor: pointer;
        
    }
    .Ulogin-td a{
        color: white;
        text-decoration: none;
        
    }
    .Ulogin-td a:hover{
        color: orange;
    }