
.login-main{
    background-image: url(../Images/tech2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center; 
    padding: 200px 0 200px 0;
    

}

.login-style{
    padding-top: 20px;
    width: 40%;
    height: 300px;
    border: 5px black solid;
    background: rgba(255, 255, 255, 0.381);
    box-shadow: 0 0 5px 5px ;
    border-radius: 4px;
    margin-left: 400px;

}

.login-heading{
    color: black;
    font-weight: bold;
    
}

.login-form{
   padding-left: 140px;
   
}
.login-style:hover{
    background: rgba(255, 255, 255, 0.21);
}

.inputs{
    width: 60%;
    font-size: 15px;
    padding: 5px 0 5px 4px;
    border-radius: 5px;
    display: block;
    margin: 20px 0 20px 0;
    
}
.inputs:hover:hover{
    font-size: 17px;
}

.login-button{
    padding: 8px 10px;
    font-size: 16px;
    color: white;
    background-color: orange;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    margin-left: 65px;
    
}

.login-button:hover{
    background:  rgba(236, 154, 2, 0.9);
    font-size: 18px;
}

